@charset "utf-8";
/* CSS Document */






/*차트 크기*/
.canvasDoughnut {width: 180px !important; height: 180px !important;}
.canvasDoughnut2 {width: 180px !important; height: 180px !important;}
.canvasDoughnut3 {width: 180px !important; height: 180px !important;}

@media all and (max-width:999px){
	.canvasDoughnut {width: 100px !important; height: 100px !important;}
	.canvasDoughnut2 {width: 100px !important; height: 100px !important;}
	.canvasDoughnut3 {width: 100px !important; height: 100px !important;}
}



/******** TX EMS 종합게이지 차트 ********/

/*종합현황*/
.m-situation-w {width: 100%;}
.m-situation-w:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}

.m-situation-w .col-1 {float: left; width: 53%;}
.m-situation-w .col-2 {float: left; width: 33%; margin-left: 1.5%;}
.m-situation-w .col-3 {float: left; width: 11%; margin-left: 1.5%;}


.bgW {background-color:#fff; background-color: #fff; border-radius: 5px; border:1px solid #d9ddec;}


/*작동 컨디션*/
.ma-condition-box {}
.ma-condition-box .one {width: 100%; margin-bottom: 15px; background-color: #fff; border-radius: 5px; border:1px solid #d9ddec;  overflow:hidden;}
.ma-condition-box .one:last-of-type {margin-bottom: 0;}
.ma-condition-box .one .tit {width: 100%; border-bottom: 1px solid #e7e9ef; padding: 10px 15px; font-weight: 500; color: #333; font-size: 15px;}
.ma-condition-box .one .icon-box {width: 100%; text-align: center;}
.ma-condition-box .one .icon-box:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.ma-condition-box .one .icon-box .half-b {float: left; width: 50%; border-left:1px solid #e7e9ef;}
.ma-condition-box .one .icon-box .half-b:first-of-type {border-left: none;}
.ma-condition-box .one .icon-box .half-b .icon { padding:10px 2px; }
.ma-condition-box .one .icon-box .half-b .name {padding: 8px 2px; border-top: 1px solid #e7e9ef; background-color:#f8f9fc; font-size: 12px; font-weight: 600;}




/*종합현황 첫번째 줄*/
.m-situation-w .col-1 {}
.m-situation-w .col-1 .r-1 {width: 100%; margin-bottom: 20px;}
.m-situation-w .col-1 .r-1:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.gate-graph-box .col-in {float: left; width: 32%; margin-left: 2%;}
.gate-graph-box .col-in:first-of-type {margin-left: 0%;}
.gate-graph-box .col-in .gate-box {width: 100%; background-color:#fff; border: 1px solid #d9ddec; border-radius: 5px; margin:0 0 10px; padding:20px; text-align: center;}
.gate-graph-box .col-in .gate-box .graph-b {height: 95px; width: 300px; margin: 0 auto;}
.gate-graph-box .col-in .gate-box .txt-b {margin:10px 0 0;}
.gate-graph-box .col-in .gate-box .txt-b h2 {font-size: 17px; display: none;}
.gate-graph-box .col-in .gate-box .txt-b h2 b {font-size: 20px; font-weight: 500;}
.gate-graph-box .col-in .gate-box .txt-b h5 {font-size: 16px; font-weight: 500; margin:40px 0 0;}
.gate-graph-box .col-in .number-box {width: 100%; background-color:#fff; border: 1px solid #d9ddec; border-radius: 5px; min-height: 135px; position: relative;}
.gate-graph-box .col-in .number-box .n-t {position: absolute; top: 20px; right: 15px; font-size: 15px; font-weight: 500;}
.gate-graph-box .col-in .number-box .n-t i {margin-left: 5px;}
.gate-graph-box .col-in .number-box .n-t.blue {color:#374ea1;}
.gate-graph-box .col-in .number-box .n-t.blue i {color:#374ea1;}
.gate-graph-box .col-in .number-box .n-t.red {color:#ec1c24;}
.gate-graph-box .col-in .number-box .n-t.red i {color:#ec1c24;}
.gate-graph-box .col-in .number-box .kwh-t {text-align: center; margin:55px 0 0; padding:0 10px;}
.gate-graph-box .col-in .number-box .kwh-t h2 {font-size: 22px;}
.gate-graph-box .col-in .number-box .kwh-t h2 b {font-size: 25px; font-weight: 500;}
.gate-graph-box .col-in .number-box .kwh-t h5 {font-size: 15px; font-weight: 500; margin: 5px 0 0;}
.gate-graph-box .col-in .number-box .tt-b {padding:17px 25px 10px; }
.gate-graph-box .col-in .number-box .tt-b h2 {font-size: 25px; font-weight: 500;}
.gate-graph-box .col-in .number-box .tt-b h5 {font-size: 15px; font-weight: 500; margin:5px 0 0;}
.gate-graph-box .col-in .number-box .to-b {width: 100%; border-top: 1px solid #d9ddec; padding:10px 25px 0;}
.gate-graph-box .col-in .number-box .to-b:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.gate-graph-box .col-in .number-box .l-p {float: left; width: 40%; font-size: 15px; font-weight: 500; margin:5px 0 0;}
.gate-graph-box .col-in .number-box .r-p {float: left; width: 60%; font-size: 22px;}
.gate-graph-box .col-in .number-box .r-p b {font-weight: 500; font-size: 1.1em;}

.m-situation-w .col-1 .r-2 {width: 100%; margin-bottom: 20px;}
.m-situation-w .col-1 .r-2:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}

.wide-graph-box {width: 100%; background-color: #fff; border-radius: 5px; border:1px solid #d9ddec;}
.graph-title-box {width: 100%; border-bottom: 1px solid #d9ddec; padding:18px 20px 12px;}
.graph-title-box:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.graph-title-box .lb {float: left; }
.graph-title-box .rb {float: right; }
.graph-title-box .tit {font-size: 18px; font-weight: 600;}

.graph-con {width: 100%; height: 200px; }

ul.graph-cate {display: inline-block; vertical-align: middle;}
ul.graph-cate:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
ul.graph-cate li {float: left; padding:0 10px;}
ul.graph-cate li:first-child {padding-left: 0;}
ul.graph-cate li:last-child {padding-right: 0;}
ul.graph-cate li .squre {display: inline-block; vertical-align: middle; width: 7px; height: 7px;}
ul.graph-cate li .txt {display: inline-block; vertical-align: middle; font-size: 12px; padding-left: 5px;}

ul.graph-day-tab-ul {display: inline-block; vertical-align: middle; margin-left: 15px;}
ul.graph-day-tab-ul:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
ul.graph-day-tab-ul li {float:left; margin:0 0 0 -1px; border:1px solid #ddd; }
ul.graph-day-tab-ul li a {display: block; width: 45px; height: 30px; text-align: center; padding:6px 3px 0; font-size: 14px; color: #777; background-color:#fff;}
ul.graph-day-tab-ul li.active a {background-color:#4a7fc1; color: #fff;}

ul.graph-day-tab-ul.blue {}
ul.graph-day-tab-ul.blue li.active a {background-color:#4a7fc1;}
ul.graph-day-tab-ul.green {}
ul.graph-day-tab-ul.green li.active a {background-color:#7fb439;}
ul.graph-day-tab-ul.orange {}
ul.graph-day-tab-ul.orange li.active a {background-color:#f9a51a;}




.pdT3 {padding-top: 3px !important;}
.pdT5 {padding-top: 5px !important;}

@media all and (max-width:1999px){
	.gate-graph-box .col-in .gate-box .graph-b {height: 95px; width: 100%;}
	.gate-graph-box .col-in .gate-box .txt-b {margin:10px 0 0;}
	.gate-graph-box .col-in .gate-box .txt-b h2 {font-size: 17px; display: none;}
	.gate-graph-box .col-in .gate-box .txt-b h2 b {font-size: 20px; font-weight: 500;}
	.gate-graph-box .col-in .gate-box .txt-b h5 {font-size: 16px; font-weight: 500; margin:40px 0 0;}
}



@media all and (max-width:1490px){

	.m-situation-w .col-1 {width: 59%; margin-left:0;}
	.m-situation-w .col-2 {width: 39%; margin-left: 2%;}
	.m-situation-w .col-3 {width: 100%; margin:15px 0 0;}


}


@media all and (max-width:1300px){

	.m-situation-w .col-1 {float: none; width: 100%; margin: 0 0 15px;}
	.m-situation-w .col-2 {float: none; width: 100%; margin: 0 0 15px;}
	.m-situation-w .col-3 {float: none; width: 100%;}


}

@media all and (max-width:999px){

	/*종합현황*/
	.m-situation-w {}


	/*작동 컨디션*/
	.ma-condition-box {}
	.ma-condition-box .one {margin-bottom: 15px;}
	.ma-condition-box .one .tit {font-size: 13px; text-align: center;}
	.ma-condition-box .one .icon-box {}
	.ma-condition-box .one .icon-box .half-b {}
	.ma-condition-box .one .icon-box .half-b .icon { padding:7px 2px; }
	.ma-condition-box .one .icon-box .half-b .icon img { width: 28px; }
	.ma-condition-box .one .icon-box .half-b .name {}




	/*종합현황 첫번째 줄*/
	.m-situation-w .col-1 {}
	.m-situation-w .col-1 .r-1 {margin-bottom: 15px;}
	.gate-graph-box .col-in {float: none; width: 100%; margin: 0% 0 10px;}
	.gate-graph-box .col-in .gate-box {}
	.gate-graph-box .col-in .gate-box .graph-b {height: auto;}
	.gate-graph-box .col-in .gate-box .txt-b {margin:7px 0 0;}
	.gate-graph-box .col-in .gate-box .txt-b h2 {font-size: 13px;}
	.gate-graph-box .col-in .gate-box .txt-b h2 b {font-size: 15px;}
	.gate-graph-box .col-in .gate-box .txt-b h5 {font-size: 13px; margin:3px 0 0;}
	.gate-graph-box .col-in .number-box { min-height: auto; padding:10px;}
	.gate-graph-box .col-in .number-box .n-t {top: 13px; right: 13px; font-size: 13px;}
	.gate-graph-box .col-in .number-box .kwh-t {margin:20px 0 0;}
	.gate-graph-box .col-in .number-box .kwh-t h2 {font-size: 14px;}
	.gate-graph-box .col-in .number-box .kwh-t h2 b {font-size: 15px;}
	.gate-graph-box .col-in .number-box .kwh-t h5 {font-size: 13px; margin: 3px 0 0;}
	.gate-graph-box .col-in .number-box .tt-b {padding:10px 20px 7px; }
	.gate-graph-box .col-in .number-box .tt-b h2 {font-size: 16px;}
	.gate-graph-box .col-in .number-box .tt-b h5 {font-size: 13px; margin:3px 0 0;}
	.gate-graph-box .col-in .number-box .to-b {padding:8px 20px 0;}
	.gate-graph-box .col-in .number-box .l-p {font-size: 12px;}
	.gate-graph-box .col-in .number-box .r-p {font-size: 15px;}

	.m-situation-w .col-1 .r-2 {margin-bottom: 10px;}
	.wide-graph-box {}
	.graph-title-box {padding:12px 15px 10px;}
	.graph-title-box .lb {float: none; width: 100%; margin:0 0 5px; }
	.graph-title-box .rb {float: none; width: 100%; }
	.graph-title-box .tit {font-size: 14px;}

	.graph-con {height: auto; padding:10px;}

	ul.graph-cate {}
	ul.graph-cate li {float: left; padding:0 5px;}
	ul.graph-cate li:first-child {padding-left: 0;}
	ul.graph-cate li:last-child {padding-right: 0;}
	ul.graph-cate li .squre {width: 5px; height: 5px;}
	ul.graph-cate li .txt {font-size: 11px; padding-left: 3px;}

	ul.graph-day-tab-ul {margin-left: 5px;}
	ul.graph-day-tab-ul li {}
	ul.graph-day-tab-ul li a {width: 30px; height: 25px; padding:3px 3px 0; font-size: 13px;}

}





#lineChart {height: 180px !important;}





/******** TX EMS 종합게이지 차트 ********/
/*종합현황 첫번째 줄*/
.m-situation-w .col-2 {}
.m-situation-w .col-2 .r-1 {width: 100%; margin-bottom: 15px;}
.m-situation-w .col-2 .r-1:last-of-type {width: 100%; margin-bottom: 0px;}

.half-graph-box {width: 100%; background-color:#fff; border:1px solid #d9ddec; border-radius: 5px;}
.half-graph-box .title-box {border-bottom: 1px solid #d9ddec; padding: 14px 20px 11px}
.half-graph-box .title-box:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.half-graph-box .title-box .lb {float: left; padding:10px 0 0px;}
.half-graph-box .title-box .rb {float: right;}
.half-graph-box .graph-in {width: 100%; padding: 26px 20px 20px; }
.half-graph-box .graph-in:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.half-graph-box .graph-in .info-b {float: left; width: 35%; text-align: center;}
.half-graph-box .graph-in .info-b .one {width: 100%; padding: 15px 0 13px; border-bottom: 1px solid #d9ddec;}
.half-graph-box .graph-in .info-b .one h5 {font-size: 14px; margin:0 0 2px;}
.half-graph-box .graph-in .info-b .one h2 {font-size: 20px; color: #4a80c1;}
.half-graph-box .graph-in .info-b .one h2 b {font-size: 22px; font-weight: 500;}
.half-graph-box .graph-in .info-b .cate-b {padding:10px 0px 0; text-align: center;}
.half-graph-box .graph-in .info-b .cate-b p {font-size: 12px; display: inline-block; padding:0 5px;}
.half-graph-box .graph-in .info-b .cate-b p .squre {display: inline-block; vertical-align: middle; width: 7px; height: 7px; margin-right: 7px;}
.half-graph-box .graph-in .graph-b {float: left; width: 65%; padding-left: 15px;}
.half-graph-box .graph-in .graph-b .tit1 {text-align: center; font-size: 15px; font-weight: 500; color: #333; margin-bottom: 5px; }
.half-graph-box .graph-in .graph-b .in {height: 161px;}
.half-graph-box .graph-in .info-b.blue .one h2 {color: #4a80c1;}
.half-graph-box .graph-in .info-b.green .one h2 {color: #7fb439;}
.half-graph-box .graph-in .info-b.orange .one h2 {color: #f9a51a;}

ul.tab-title-b {}
ul.tab-title-b:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
ul.tab-title-b li {float: left; border-left: 1px solid #ddd; padding: 0 10px; }
ul.tab-title-b li:first-child {padding-left: 0; border-left: none;}
ul.tab-title-b li:last-child {padding-right: 0;}
ul.tab-title-b li a {display: block; line-height: 1; font-size: 17px; font-weight: 400; color:#a6a8ab; position: relative;}
ul.tab-title-b li.active a {color:#4a80c1; font-weight: 500;}
ul.tab-title-b li.active a:before {content: ""; width: 100%; height: 3px; background-color:#4a80c1; position: absolute; left: 0; bottom: -17px;}

ul.tab-title-b.blue li.active a {color:#4a80c1;}
ul.tab-title-b.blue li.active a:before {background-color:#4a80c1;}
ul.tab-title-b.green li.active a {color:#7fb439;}
ul.tab-title-b.green li.active a:before {background-color:#7fb439;}




@media all and (max-width:999px){
	/*종합현황 첫번째 줄*/
	.m-situation-w .col-2 {}
	.m-situation-w .col-2 .r-1 {margin-bottom: 10px;}

	.half-graph-box {}
	.half-graph-box .title-box { padding: 12px 10px 11px}
	.half-graph-box .title-box .lb {padding:10px 0 0px;}
	.half-graph-box .title-box .rb {}
	.half-graph-box .graph-in {padding: 15px 15px 15px; }
	.half-graph-box .graph-in .info-b {width: 35%;}
	.half-graph-box .graph-in .info-b .one {width: 100%; padding: 15px 0 13px; border-bottom: 1px solid #d9ddec;}
	.half-graph-box .graph-in .info-b .one h5 {font-size: 12px; margin:0 0 2px;}
	.half-graph-box .graph-in .info-b .one h2 {font-size: 15px;}
	.half-graph-box .graph-in .info-b .one h2 b {font-size: 16px;}
	.half-graph-box .graph-in .info-b .cate-b {padding:10px 0px 0; text-align: center;}
	.half-graph-box .graph-in .info-b .cate-b p {font-size: 12px; padding:0 5px;}
	.half-graph-box .graph-in .info-b .cate-b p .squre {width: 5px; height: 5px; margin-right: 3px;}
	.half-graph-box .graph-in .graph-b {float: left; width: 65%; padding-left: 10px;}
	.half-graph-box .graph-in .graph-b .tit1 {font-size: 13px;}
	.half-graph-box .graph-in .graph-b .in {height: 130px;}

	ul.tab-title-b {}
	ul.tab-title-b li {float: left; border-left: 1px solid #ddd; padding: 0 10px; }
	ul.tab-title-b li a {font-size: 14px;}
	ul.tab-title-b li.active a:before {content: ""; width: 100%; height: 2px; background-color:#4a80c1; position: absolute; left: 0; bottom: -15px;}

}









/******** 기기별 차트 ********/
.row-one-left {float: left; width: 87.5%;}

.row-one-left .col-1 {float: left; width: 58.5%;}
.row-one-left .col-2 {float: left; width: 40%; margin-left: 1.5%;}

.row-one-left .row-100 {margin-top: 20px;}


/*월발전량*/
.m2-top-txt-box {width: 100%; padding: 18px 20px; margin:0 0 10px;}
.m2-top-txt-box ul {width: 100%;}
.m2-top-txt-box ul li {float: left; width: 33.33%; border-left: 1px solid #d9ddec; text-align: center;}
.m2-top-txt-box ul li:first-child {border-left:none;}
.m2-top-txt-box ul li span {vertical-align: middle; padding: 0 3px;}
.m2-top-txt-box ul li .tm {font-size: 16px;}
.m2-top-txt-box ul li .lm {font-size: 23px; color:#4a80c1;}
.m2-top-txt-box ul li .lm b {font-size: 1.1em; font-weight: 500;}

.m2-left-graph-cir {width: 100%;}
.m2-left-graph-cir:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.m2-left-graph-cir .one {float: left; width: 32%; margin-left: 2%;}
.m2-left-graph-cir .one:first-of-type {margin-left: 0%;}
.m2-left-graph-cir .one .graph-b {padding: 25px 15px 15px; text-align: center;}
.m2-left-graph-cir .one .graph-b .g-in {width: 100%; height: 180px; position: relative;}
.m2-left-graph-cir .one .graph-b .g-in .per {position: absolute; top: 52%; left:0; width: 100%; text-align: center; transform: translateY(-50%); font-size: 30px; font-weight: 500;}
.m2-left-graph-cir .one .graph-b .txt-b {margin:10px; text-align: center;}
.m2-left-graph-cir .one .graph-b .txt-b h2 {font-size: 17px;}
.m2-left-graph-cir .one .graph-b .txt-b h2 b {font-size: 1.1em; font-weight: 500;}
.m2-left-graph-cir .one .graph-b .txt-b h5 {font-size: 16px; margin:5px 0 0;}
.m2-left-graph-cir .one .letter-b {width: 100%; text-align: center; border-top: 1px solid #d9ddec; padding:20px 10px 13px;}
.m2-left-graph-cir .one .letter-b .tit {}
.m2-left-graph-cir .one .letter-b .tit span {vertical-align: bottom;}
.m2-left-graph-cir .one .letter-b .tit .num {font-size: 21px;}
.m2-left-graph-cir .one .letter-b .tit .num b {font-size: 1.1em; font-weight: 500;}
.m2-left-graph-cir .one .letter-b .tit .num2 {margin-left:3px; font-size: 15px; font-weight: 500;}
.m2-left-graph-cir .one .letter-b .tit .num2 i {}
.m2-left-graph-cir .one .letter-b .sm-t {font-size: 15px; font-weight: 500; margin:5px 0 0;}


/*계통도*/
.m2-icon-print-box {width: 100%;}
.m2-graph-icon-print-box {width: 100%; padding: 28px 20px 18px; text-align: center;}
.m2-graph-icon-print-box .row:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.m2-graph-icon-print-box .row .inBox {display: inline-block; vertical-align: middle;}
.m2-graph-icon-print-box .row .inBox h4 {font-size: 16px; font-weight: 500; }
.m2-graph-icon-print-box .row .inBox h2 {font-size: 22px; color:#4a80c2; margin:0 0 5px;}
.m2-graph-icon-print-box .row .inBox h2 b {font-size: 25px; font-weight: 500;}
.m2-graph-icon-print-box .row .inBox.alone {padding:20px 0 0;}
.m2-graph-icon-print-box .row .name {font-size: 14px; margin:3px 0 ;}
.m2-graph-icon-print-box .row .line {display: inline-block; vertical-align: middle; padding:30px 10px 0;}
.m2-graph-icon-print-box .verti-line {margin:10px 0 5px;}


/*에너지발전현황*/
.m2-graph-bt-box {width: 100%; padding: 40px;}
.m2-graph-bt-box:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.m2-graph-bt-box .info-left-box {float: left; width: 15%; }
.m2-graph-bt-box .info-left-box ul {width: 100%;}
.m2-graph-bt-box .info-left-box ul li {border-bottom: 1px solid #e7e9ef; padding:23px 5px 15px;}
.m2-graph-bt-box .info-left-box ul li h5 {font-size: 16px;}
.m2-graph-bt-box .info-left-box ul li h2 {font-size: 23px; color: #4a80c1;}
.m2-graph-bt-box .info-left-box ul li h2 b {font-weight: 500; font-size: 25px;}
.m2-graph-bt-box .info-left-box ul li:first-child {padding-top: 0;}
.m2-graph-bt-box .info-left-box ul li:last-child {border-bottom:none; padding-bottom: 0;}
.m2-graph-bt-box .graph-right-box {float: left; width: 85%; height: 280px; padding-left: 2%; margin-top: 0px }



@media all and (max-width:1490px){
	.row-one-left {float: none; width:100%;}
}



@media all and (max-width:1340px){

	.row-one-left .col-1 {float: none; width:100%;}
	.row-one-left .col-2 {float: none; width: 100%; margin-left:0%;}

	.row-one-left .row-100 {margin-top: 20px;}


}



@media all and (max-width:999px){
	/******** 기기별 차트 ********/
	.row-one-left .row-100 {margin-top: 15px;}


	/*월발전량*/
	.m2-top-txt-box {padding: 10px 15px; margin:0 0 10px;}
	.m2-top-txt-box ul {}
	.m2-top-txt-box ul li {float: left; width: 33.33%;}
	.m2-top-txt-box ul li span {padding: 0 3px; display: block; width: 100%; padding:2px 0;}
	.m2-top-txt-box ul li .tm {font-size: 12px;}
	.m2-top-txt-box ul li .lm {font-size: 15px;}

	.m2-left-graph-cir {}
	.m2-left-graph-cir .one {float: none; width: 100%; margin:0 0 10px;}
	.m2-left-graph-cir .one:last-of-type {margin-bottom: 0;}
	.m2-left-graph-cir .one .graph-b {padding: 15px 10px 12px;}
	.m2-left-graph-cir .one .graph-b .g-in {height: 120px;}
	.m2-left-graph-cir .one .graph-b .g-in .per {font-size: 14px;}

	.m2-left-graph-cir .one .graph-b .txt-b {margin:5px;}
	.m2-left-graph-cir .one .graph-b .txt-b h2 {font-size: 13px;}
	.m2-left-graph-cir .one .graph-b .txt-b h2 b {font-size: 1.1em;}
	.m2-left-graph-cir .one .graph-b .txt-b h5 {font-size: 12px; margin:2px 0 0;}
	.m2-left-graph-cir .one .letter-b {padding:15px 5px 10px;}
	.m2-left-graph-cir .one .letter-b .tit {}
	.m2-left-graph-cir .one .letter-b .tit span {}
	.m2-left-graph-cir .one .letter-b .tit .num {font-size: 15px;}
	.m2-left-graph-cir .one .letter-b .tit .num2 {margin-left:2px; font-size: 13px;}
	.m2-left-graph-cir .one .letter-b .sm-t {font-size: 12px; margin:3px 0 0;}


	/*계통도*/
	.m2-icon-print-box {}
	.m2-graph-icon-print-box {padding: 15px 10px 12px;}
	.m2-graph-icon-print-box .row .inBox {}
	.m2-graph-icon-print-box .row .inBox h4 {font-size: 12px;}
	.m2-graph-icon-print-box .row .inBox h2 {font-size: 14px; margin:0 0 2px;}
	.m2-graph-icon-print-box .row .inBox h2 b {font-size: 15px;}
	.m2-graph-icon-print-box .row .inBox.alone {padding:20px 0 0;}
	.m2-graph-icon-print-box .row .name {font-size: 13px; margin:2px 0 ;}
	.m2-graph-icon-print-box .row .line { padding:15px 5px 0;}
	.m2-graph-icon-print-box .row .line img {width: 50px}
	.m2-graph-icon-print-box .row .icon img {width: 40px;}
	.m2-graph-icon-print-box .verti-line {margin:7px 0 3px;}
	.m2-graph-icon-print-box .verti-line img {height: 30px;}


	/*에너지발전현황*/
	.m2-graph-bt-box {padding: 20px 10px;}
	.m2-graph-bt-box .info-left-box {float: none; width: 100%; }
	.m2-graph-bt-box .info-left-box ul {}
	.m2-graph-bt-box .info-left-box ul li {border-bottom: 1px solid #e7e9ef; padding:9px 5px 8px;}
	.m2-graph-bt-box .info-left-box ul li h5 {font-size: 12px;}
	.m2-graph-bt-box .info-left-box ul li h2 {font-size: 13px;}
	.m2-graph-bt-box .info-left-box ul li h2 b {font-size: 15px;}
	.m2-graph-bt-box .graph-right-box {float: none; width: 100%; height: 200px; padding: 15px 0 0; }

}









/******** PV발전현황 ********/
.pv-content1 {width: 100%;}
.pv-content1 .row {margin:20px 0 0;}
.pv-content1 .row:first-of-type {margin-top: 0;}
.pv-content1 .col-5 {float: left; width: 49%; margin-left: 2%;}
.pv-content1 .col-5:first-of-type {margin-left: 0%;}
.pv-content1 .row .one-b {margin-top: 15px;}
.pv-content1 .row .one-b:first-of-type {margin-top: 0;}

.graph-in-c {padding: 22px 20px; }
.graph-in-c:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}

.s2-info-ul {width: 100%; margin:7px 0 5px;}
.s2-info-ul:after { visibility: hidden;display:block;font-size: 0;content:".";clear: both;height: 0;*zoom:1;}
.s2-info-ul li {float: left; width: 33.33%; border-left: 1px solid #e7e9ef; text-align: center;}
.s2-info-ul li:first-of-type {border-left: none;}
.s2-info-ul li span {padding:0 5px; vertical-align: middle; display: inline-block;}
.s2-info-ul li .txt {font-size: 18px; font-weight: 500;}


.s2-wGraphicB {width: 100%; height: 300px; }

.in-tit {font-size: 23px; font-weight: 500;}

@media all and (max-width:1150px){
	.pv-content1 {}
	.pv-content1 .row {margin:15px 0 0;}
	.pv-content1 .col-5 {float: none; width: 100%; margin:10px 0 0;}
	.pv-content1 .col-5:first-of-type {margin-top: 0;}
}


@media all and (max-width:999px){
	/******** PV발전현황 ********/

	.graph-in-c {padding: 15px; }

	.s2-info-ul {margin:0px 0 0px;}
	.s2-info-ul li {width: 33.33%;}
	.s2-info-ul li span {padding:0 2px;}
	.s2-info-ul li .txt {font-size: 13px;}
	.s2-info-ul li .icon {}
	.s2-info-ul li .icon img {width: 22px;}

	.in-tit {font-size: 15px; font-weight: 500;}

	.s2-wGraphicB {width: 100%; height: 200px; }

}






/******** 실시간 로그관리 ********/
.date-s-t-box.box_in1 {display: flex;}
.date-s-t-box.box_in1 .left_box {margin-right: auto; padding-top: 13px;}
.date-s-t-box.box_in1 .left_box h2 {font-size: 23px; font-weight: 500; color: #222;}
.date-s-t-box.box_in1 .right_box {margin-left: auto;}

.log_tbl span.log {display: block; text-align: left; padding-left: 20px;}


@media all and (max-width:999px){
	.date-s-t-box.box_in1 {display: block;}
	.date-s-t-box.box_in1 .left_box {width: 100%; text-align: center; padding: 0 0 10px;}
	.date-s-t-box.box_in1 .left_box h2 {font-size: 18px; font-weight: 500; color: #222;}
	.date-s-t-box.box_in1 .right_box {display: block; width: 100%; text-align: left;}
	.date-s-t-box.box_in1 .right_box .gab-w-10 {display: none;}
	.date-s-t-box.box_in1 .right_box .btn-search {width: 100%; margin: 10px -10% 0 0;}
}









/******** 예측모델 ********/

span.fore {display: block; padding-left: 20px; text-align: left; font-size: 16px; font-weight: 500;}
.blue.forSpan {font-size: 16px; font-weight: 500; color: #4a80c2;}

/* 날씨 */
.inner_weather_box {border:1px solid #d9ddec;}
.inner_weather_box .ro-b {border-top:1px solid #d9ddec; display: flex; padding: 22px;}
.inner_weather_box .ro-b:first-of-type {border-top:none;}
.inner_weather_box .ro-b .lb {width: 25%; display: flex; flex-direction: column; padding:10px 15px 5px 0;}
.inner_weather_box .ro-b .lb h3 {font-size: 16px; font-weight: 500; color: #555; margin-bottom: auto;}
.cate_w1 {display: flex; width: 110px; flex-wrap: wrap;}
.cate_w1 li {width: 50%; padding-right: 10px; margin-top: 5px;}
.cate_w1 li a {display: block;}
.cate_w1 li a .icon {display: inline-block; vertical-align: middle; width: 6px; height: 6px; border-radius: 50%; background-color: #c5c6c7;}
.cate_w1 li a .txt {display: inline-block; vertical-align: middle; margin-left: 5px; font-size: 13px; color: #666;}
.cate_w1 li.active a .icon {background-color: #00c73c;}
.cate_w1 li.active a .txt {color: #242424;}

.inner_weather_box .ro-b .rb {width: 75%; text-align: right; overflow-y: auto;}
.page-w-sm {}
.page-w-sm .btn-p {width: 20px; height: 20px; vertical-align: middle; background-color: #fff; border:1px solid #e7e7e7}
.page-w-sm .btn-p img {vertical-align: middle;}
.page-w-sm .pageNum {display: inline-block; vertical-align: middle; padding: 0 10px; font-size: 13px; color: #cccccc;}
.page-w-sm .pageNum b {font-weight: 500; color: #00ab33;}


.inner_weather_sub1_w {width: 100%; display: flex;}
.inner_weather_sub1_w .co-b {flex: 1 1 auto; text-align: center;}
.inner_weather_sub1_w .co-b .num {font-size: 16px; font-weight: 600; color: #222;}
.inner_weather_sub1_w .co-b .icon_b {margin: 15px 0 0; height: 25px;}
.inner_weather_sub1_w .co-b .txt {margin-top: 9px; display: inline-block; font-size: 14px; color: #777; padding: 3px 10px 2px; border-radius: 15px;}
.inner_weather_sub1_w .co-b .txt.green {font-weight: 500; color: #00c73c;}
.inner_weather_sub1_w .co-b .txt.on {background-color: #00c73c; color: #fff; font-weight: 600;}

.inner_weather_sub2_w {width: 100%; display: flex;}
.inner_weather_sub2_w .co-b {flex: 1 1 auto; text-align: center; border-left: 1px solid #f0f3f6;}
.inner_weather_sub2_w .co-b:first-of-type {border-left: none;}
.inner_weather_sub2_w .co-b .date {}
.inner_weather_sub2_w .co-b .date .day {font-size: 16px; font-weight: 500; color: #222; display: inline-block; vertical-align: middle;}
.inner_weather_sub2_w .co-b .date .num {font-size: 13px; font-weight: 400; color: #666; display: inline-block; vertical-align: middle; padding: 3px 0 2px; margin-left: 5px;}
.inner_weather_sub2_w .co-b .date .num.on {padding-left: 7px; padding-right: 7px; border-radius: 10px; background-color: #00c73c; color: #fff; font-weight: 500;}
.inner_weather_sub2_w .co-b .wea_ul {margin-top: 20px;}
.inner_weather_sub2_w .co-b .wea_ul li {margin-top: 10px;}
.inner_weather_sub2_w .co-b .wea_ul li:first-child {margin-top: 0;}
.inner_weather_sub2_w .co-b .wea_ul li span {vertical-align: middle; display: inline-block;}
.inner_weather_sub2_w .co-b .wea_ul li span img {vertical-align: middle;}
.inner_weather_sub2_w .co-b .wea_ul li .icon {height: 25px;}
.inner_weather_sub2_w .co-b .wea_ul li .txt {margin-left: 8px; color: #888; font-size: 13px;}
.inner_weather_sub2_w .co-b .degree {margin-top: 15px; font-weight: 500; color: #222;}



/* 전력사용량 */
.graph-tab-ul2 {border-radius: 5px; overflow: hidden; display: inline-flex;}
.graph-tab-ul2 li {min-width: 75px; background-color: #353b44;}
.graph-tab-ul2 li a {display: block; text-align: center; padding: 8px 20px 6px; color: #fff;}
.graph-tab-ul2 li.active a {background-color: #03a059;}

.graph-in-c .cate-box1 {width: 100%; text-align: right;}

.s2-wGraphicB.n01 {height: 200px !important; margin-top: 15px; overflow-x: auto;}

@media all and (max-width:1150px){
	.inner_weather_box .ro-b {display: block;}
	.inner_weather_box .ro-b .lb {width: 100%;}
	.inner_weather_box .ro-b .rb {width: 100%;}
}

@media all and (max-width:999px){

	/******** 예측모델 ********/
	span.fore {padding-left: 15px; font-size: 13px;}
	.blue.forSpan {font-size: 14px;}

	/* 날씨 */
	.inner_weather_box {}
	.inner_weather_box .ro-b {padding: 10px 10px;}
	.inner_weather_box .ro-b .lb {display: flex; flex-direction: column; padding:7px 10px 20px 15px;}
	.inner_weather_box .ro-b .lb h3 {font-size: 13px;}
	.cate_w1 {width: 100%; margin-top: 5px;}
	.cate_w1 li {width: 25%; padding-right: 10px; margin-top: 5px;}
	.cate_w1 li a .icon {width: 4px; height: 4px;}
	.cate_w1 li a .txt {font-size: 12px;}

	.inner_weather_box .ro-b .rb {}
	.page-w-sm {margin: 10px 0 0;}
	.page-w-sm .btn-p {width: 15px; height: 15px;}
	.page-w-sm .btn-p img {vertical-align: middle; width: 4px; margin-top: -5px;}
	.page-w-sm .pageNum {font-size: 12px;}

	.inner_weather_sub1_w {}
	.inner_weather_sub1_w .co-b {flex: 1 1 auto;}
	.inner_weather_sub1_w .co-b .num {font-size: 14px;}
	.inner_weather_sub1_w .co-b .icon_b {margin: 10px 0 0; height: 25px;}
	.inner_weather_sub1_w .co-b .icon_b img {max-width: 100%;}
	.inner_weather_sub1_w .co-b .txt {margin-top: 5px; font-size: 12px; padding: 3px 5px 2px;}

	.inner_weather_sub2_w {}
	.inner_weather_sub2_w .co-b {}
	.inner_weather_sub2_w .co-b .date {}
	.inner_weather_sub2_w .co-b .date .day {font-size: 13px;}
	.inner_weather_sub2_w .co-b .date .num {font-size: 11px; padding: 2px 0 1px; margin-left: 2px;}
	.inner_weather_sub2_w .co-b .date .num.on {padding-left: 4px; padding-right: 4px;}
	.inner_weather_sub2_w .co-b .wea_ul {margin-top: 20px; text-align: center;}
	.inner_weather_sub2_w .co-b .wea_ul li {margin-top: 7px;}
	.inner_weather_sub2_w .co-b .wea_ul li span {display: block;}
	.inner_weather_sub2_w .co-b .wea_ul li .icon {height: 23px;}
	.inner_weather_sub2_w .co-b .wea_ul li .icon img {max-width: 100%;}
	.inner_weather_sub2_w .co-b .wea_ul li .txt {margin-left: 0; font-size: 12px;}
	.inner_weather_sub2_w .co-b .degree {font-size: 12px;}	

	/* 전력사용량 */
	.graph-tab-ul2 {}
	.graph-tab-ul2 li {min-width: 70px;}
	.graph-tab-ul2 li a {font-size:13px; padding: 5px 10px 4px;}
	.graph-tab-ul2 li.active a {background-color: #03a059;}

	.graph-in-c .cate-box1 {width: 100%; text-align: right;}

	.s2-wGraphicB.n01 {height: 150px !important; margin-top: 10px;}
}









/******** 스케쥴링 ********/
td.txt_left {text-align: left; padding-left: 20px !important;}

.txt_Sche {height: 40px;}
.txt_Sche.w100px {width: 100px;}

.sel_Sche {height: 40px;}
.sel_Sche.w30 {width: 20% !important;}

.date-s-t-box.inside {padding: 0; margin-bottom: 5px;}
.tbl_schedul_box {width: 100%; overflow-y: auto;}

.tbl_schedul {width: 100%; border-top: 2px solid #4a80c2; border-collapse: separate;}
.tbl_schedul th {background-color: #f8f9fc; font-size: 15px; font-weight: 500; color: #333; border-left: 1px solid #d9ddec; border-bottom: 1px solid #d9ddec; padding: 10px 2px; width: 3.91%;}
.tbl_schedul th:first-of-type {border-left: none;}
.tbl_schedul td {border-left: 1px solid #d9ddec; border-bottom: 1px solid #d9ddec; width: 3.91%; text-align: center; font-size: 15px; font-weight: 500;}
.tbl_schedul td p.wr {width: 100%; display: flex;}
.tbl_schedul td span.blank {width: 25%; height: 42px; border-left: 1px solid #efefef;}
.tbl_schedul td span.blank:first-of-type {border-left: none;}
.tbl_schedul td span.blank.ui-selecting {background-color: #4a80c2;}
.tbl_schedul td span.blank.ui-selected {background-color: #4a80c2;}
.tbl_schedul td:first-of-type {border-left: none;}

.tbl_schedul th.tit {width: 6%;}
.tbl_schedul td.tit {width: 6%;}

.schel_btn_box {width: 100%; margin-top: 15px; text-align: center; position: relative;}
.schel_btn_box .btn_sch {min-width: 110px; height: 38px; background-color: #4a80c2; border:1px solid #4a80c2; color: #fff; font-size: 15px; transition: all 0.25s ease;}
.schel_btn_box .btn_sch.select {background-color: #fff; color: #4a80c2;}
.schel_btn_box .btn_sch.select:hover {background-color: #4a80c2; color: #fff;}
.schel_btn_box .btn_sch.save {position: absolute; right: 0;}
.schel_btn_box .btn_sch.save:hover {background-color: #374ea1; border-color: #374ea1;}


@media all and (max-width:999px){
	.txt_Sche {height: 30px; font-size: 13px;}
	.txt_Sche.w100px {width: 70px;}

	.sel_Sche {height: 30px; font-size: 13px;}

	.tbl_schedul {width: 700px; border-top: 2px solid #4a80c2; border-collapse: separate;}

	.tbl_schedul th {font-size: 13px;}
	.tbl_schedul td {width: 3.91%; font-size: 13px; font-weight: 500;}
	.tbl_schedul td p.wr {width: 50px; display: flex;}
	.tbl_schedul td span.blank {width: 25%; height: 42px; border-left: 1px solid #efefef;}
	.tbl_schedul td span.blank:first-of-type {border-left: none;}
	.tbl_schedul td span.blank.ui-selecting {background-color: #4a80c2;}
	.tbl_schedul td span.blank.ui-selected {background-color: #4a80c2;}
	.tbl_schedul td:first-of-type {border-left: none;}

	.tbl_schedul th.tit {width: 6%;}
	.tbl_schedul td.tit {width: 6%; padding: 0 10px;}

	.schel_btn_box {width: 100%; margin-top: 10px;}
	.schel_btn_box .btn_sch {min-width: 80px; height: 35px; font-size: 13px;}
}









/******** ********/



@media all and (max-width:999px){

}









/******** ********/



@media all and (max-width:999px){

}









/******** ********/



@media all and (max-width:999px){

}









/******** ********/



@media all and (max-width:999px){

}









/******** ********/



@media all and (max-width:999px){

}









/******** ********/



@media all and (max-width:999px){

}









/******** ********/



@media all and (max-width:999px){

}









/******** ********/



@media all and (max-width:999px){

}









/******** ********/



@media all and (max-width:999px){

}









/******** ********/



@media all and (max-width:999px){

}









/******** ********/



@media all and (max-width:999px){

}

